.wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--welcome-nav-gap);
  > .card{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background:var(--welcome-card-bg);
    border-radius:8px;
    padding: 16px;
    margin: 16px 16px 0;// 解释：上边距16px，左右边距16px，下边距0
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    > h2 {
      margin-top: 40pxi;
    }
  }
  > .actions{
    position: fixed;
    z-index: var(--z-index-bottom-nav);// 解释：z-index: 10; 使得actions在card上面
    left: 0 ;
    bottom: 0;
    width: 100%;
    background: var(--welcome-bg-end);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 24px;
    height: var(--welcome-nav-height);
    padding: 0 16px;
    color: var(--welcome-text);
    padding-bottom: var(--welcome-nav-gap);
    > .fake{ visibility: hidden;} 
  }
}

.pig {
  width: 128px;

}